<div
    style="font-weight: bolder; width: 600px; background-color: rgba(247, 148, 29,0.3); border: 5px dashed #F7941D; border-radius: 20px; display: grid; grid-template-columns: 1fr; justify-content: center; align-items: center; padding: 20px; box-sizing: border-box;">
    <h1>Cảm Ơn Bạn Đã Liên Hệ Với Chúng Tôi</h1>
    <p style="font-size: 20px; width: 100%; text-align: left;">Chúng tôi sẽ liên hệ lại với bạn trong thời gian sớm nhất có thể</p>
    <div class="Infor-Mail" style="width: 100%; display: flex; flex-direction: column; align-items: center; gap: 10px;">
        <fieldset style="width: 100%; border: 1px solid rgba(0,0 ,0,1); border-radius: 10px;">
            <legend>Họ Và Tên</legend>
            <p>Khánh Duy</p>
        </fieldset>
        <fieldset style="width: 100%; border: 1px solid rgba(0,0 ,0,1); border-radius: 10px;">
            <legend>Email</legend>
            <p>Duyle2104@Gmail.com</p>
        </fieldset>
        <fieldset style="width: 100%; border: 1px solid rgba(0,0 ,0,1); border-radius: 10px;">
            <legend>Số Điện Thoại</legend>
            <p>123456789</p>
        </fieldset>
        <fieldset
            style="width: 100%; display: flex; flex-wrap: wrap; border: 1px solid rgba(0,0 ,0,1); border-radius: 10px;">
            <legend>Nội Dung</legend>
            <textarea
                style="font-size: 18px; min-height: 100px; resize: none; outline: none; font-weight: bolder; width: 100%; background-color: rgba(255,255,255,0); border: none;"
                name="" id=""
                readonly>iuytfcvnbmjhfueyvjbjlkgryfhkjlkdlghjhkjk;hhgjghhjhjhhjgvbcgjhcgjgjjcggjhvgjgjhbvgfyguhjjbnbcvhfdtuyuhjbvhfyrtrygjbvhfdytryiugjhvgjfdtuytujbbgjut</textarea>
        </fieldset>
    </div>
</div>